
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var GradeID = ViewBag.GradeID != null ? ViewBag.GradeID : 0;
    var GradeYear = string.IsNullOrEmpty(ViewBag.GradeYear) ? string.Empty : ViewBag.GradeYear;

}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdn.datatables.net/datetime/1.0.3/css/dataTables.dateTime.min.css" />
<link href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" />
<script src="https://cdn.datatables.net/datetime/1.0.3/js/dataTables.dateTime.min.js" type="text/javascript"></script>
<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js" type="text/javascript"></script>

<br />
<br />
<br />

<div class="panel">
    <div class="panel-heading">
        <div class="col-md-row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                @*@Html.DropDownList("Grades", new SelectList(ViewBag.GradeList, "GradeID", "GradeName"), (string)ViewData["GradeName"], new { @class = "form-control", id = "Grades" })*@
                @Html.DropDownList("Grades", new SelectList(ViewBag.GradeList, "GradeValue", "GradeText"), (string)ViewData["GradeName"], new { @class = "form-control", id = "Grades" })
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <br />
    <br />
    <div class="panel-body">
        <div id="dtPartial"></div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        if (parseInt("@GradeID")  != 0) {
            $("#dtPartial").empty();
            $("#dtPartial").load("/Score/GetScores", { GradeID: "@GradeID", GradeYear:"@GradeYear" });
        }

        $("#Grades").on("change", function () {
            $("#dtPartial").empty();
            var GradeData = $(this).val().split(',');
            //$("#dtPartial").load("/Score/GetScores", { GradeID: GradeData[0], GradeYear: GradeData[1] });
            //$("#dtPartial").animate({ opacity: 0 }, 1000);
            //$("#dtPartial").load("/Score/GetScores", { GradeID: GradeData[0], GradeYear: GradeData[1] });
            //$("#dtPartial").animate({ opacity: 1 }, 1000);
            //$("#dtPartial").load("/Score/UpsertScore");
            $("#dtPartial").hide().load("/Score/GetScores", { GradeID: GradeData[0], GradeYear: GradeData[1] }, () => {
                            $("#dtPartial").fadeIn(500)
            });
            //$("#dtPartial").load("/Score/GetScores", { GradeID: GradeData[0], GradeYear: GradeData[1] }).slideDown("slow");
        });
       
       

    });
</script>
