@model Sneha_BL.School
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Add School</h3>
<br />
<form method="post" action="/School/Create">
    @Html.Partial("_School", Model)
</form>


